 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/Poster.png?rand=d4d9");
  background-position: 65.49% 0%;
  background-size: 140%;
}

.u-section-1 .u-sheet-1 {
  min-height: 557px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-list-1 {
  width: 933px;
  margin: 311px auto 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 66px;
  grid-auto-columns: calc(25% - 3.75px);
  grid-template-columns: calc(25% - 3.75px) calc(25% - 3.75px) calc(25% - 3.75px) calc(25% - 3.75px);
  grid-gap: 5px 5px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: Almarai;
  font-style: italic;
  margin: 50px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 38px;
  min-height: 16px;
  width: 90px;
  min-width: 45px;
  white-space: nowrap;
  margin: 22px auto 38px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 3.75px));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 211px;
    grid-auto-columns: calc(50% - 2.5px);
    grid-template-columns: repeat(2, calc(50% - 2.5px));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-size: auto 140%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-social-icons-1 {
    margin-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 765px;
}

.u-section-2 .u-text-1 {
  width: 568px;
  margin: 25px auto 0;
}

.u-section-2 .u-line-1 {
  width: 57px;
  transform-origin: left center 0px;
  margin: 11px auto 0;
}

.u-section-2 .u-shape-1 {
  height: 649px;
  margin-top: 18px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-line-2 {
  width: 57px;
  transform-origin: left center 0px;
  margin: -592px auto 0 44px;
}

.u-section-2 .u-text-2 {
  font-family: Almarai;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -50px 1010px 0 14px;
}

.u-section-2 .u-list-1 {
  margin-top: 2px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  min-height: 541px;
  grid-gap: 20px 20px;
  grid-auto-columns: calc(50% - 10px);
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-2 .u-container-layout-1 {
  padding: 26px 0 0;
}

.u-section-2 .u-text-3 {
  letter-spacing: 3px;
  margin: 1px auto 0;
}

.u-section-2 .u-image-1 {
  width: 374px;
  height: 374px;
  margin: 6px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  margin: 11px auto 0;
  padding: 0 36px 0 35px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-size: 0.875rem;
  margin: 7px auto 0;
  padding: 0 19px;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 26px 0 0;
}

.u-section-2 .u-text-4 {
  letter-spacing: 3px;
  margin: 1px auto 0;
}

.u-section-2 .u-image-2 {
  width: 374px;
  height: 374px;
  margin: 6px auto 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-size: 0.875rem;
  margin: 11px auto 0;
  padding: 0 36px 0 35px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  font-size: 0.875rem;
  margin: 7px auto 0;
  padding: 0 19px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 824px;
    margin-left: 44px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 444px;
  }

  .u-section-2 .u-list-item-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1321px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-2 .u-shape-1 {
    height: 1136px;
  }

  .u-section-2 .u-line-2 {
    margin-top: -1079px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 604px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1284px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    margin-top: 51px;
  }

  .u-section-2 .u-shape-1 {
    height: 1155px;
  }

  .u-section-2 .u-line-2 {
    margin-top: -1099px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 424px;
    margin-left: 18px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 56px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    min-height: 1044px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1247px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-shape-1 {
    height: 1123px;
  }

  .u-section-2 .u-line-2 {
    margin-top: -1066px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 224px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 6px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1057px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 5px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-btn-1 {
    padding-top: 8px;
    padding-bottom: 9px;
  }

  .u-section-2 .u-btn-2 {
    padding-top: 9px;
    padding-bottom: 11px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 5px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-btn-3 {
    padding-top: 8px;
    padding-bottom: 9px;
  }

  .u-section-2 .u-btn-4 {
    padding-top: 9px;
    padding-bottom: 11px;
  }
}

.u-block-f02e-68:not([data-block-selected]):not([data-cell-selected]),
.u-block-f02e-68:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f02e-68:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-f02e-68:not([data-block-selected]):not([data-cell-selected]).u-block-f02e-68:not([data-block-selected]):not([data-cell-selected]).u-block-f02e-68:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #33292b !important;
}

.u-section-2 .u-image-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-2 .u-image-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-2 .u-image-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-2:not([data-block-selected]):not([data-cell-selected]).u-section-2 .u-image-2:not([data-block-selected]):not([data-cell-selected]).u-section-2 .u-image-2:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #33292b !important;
}

.u-block-f02e-59:not([data-block-selected]):not([data-cell-selected]),
.u-block-f02e-59:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f02e-59:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-f02e-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-f02e-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-f02e-65:not([data-block-selected]):not([data-cell-selected]),
.u-block-f02e-65:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f02e-65:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-f02e-65:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-f02e-65:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-2 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-2 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-2 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-sheet-1:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-2 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-f02e-60:not([data-block-selected]):not([data-cell-selected]),
.u-block-f02e-60:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f02e-60:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-f02e-60:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-f02e-60:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-f02e-61:not([data-block-selected]):not([data-cell-selected]),
.u-block-f02e-61:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f02e-61:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-f02e-61:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-f02e-61:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-f02e-67:not([data-block-selected]):not([data-cell-selected]),
.u-block-f02e-67:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f02e-67:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-f02e-67:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-f02e-67:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-image-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-2 .u-image-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-2 .u-image-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-image-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-f02e-79:not([data-block-selected]):not([data-cell-selected]),
.u-block-f02e-79:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f02e-79:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-f02e-79:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-f02e-79:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-f02e-21:not([data-block-selected]):not([data-cell-selected]),
.u-block-f02e-21:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f02e-21:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-f02e-21:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-f02e-21:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-f02e-21:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-f02e-21:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-f02e-70:not([data-block-selected]):not([data-cell-selected]),
.u-block-f02e-70:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f02e-70:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-f02e-70:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-f02e-70:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-f02e-70:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-f02e-70:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}.u-section-3 .u-sheet-1 {
  min-height: 594px;
}

.u-section-3 .u-group-1 {
  height: auto;
  margin-top: 36px;
  margin-bottom: 10px;
  min-height: 549px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 11px 0 0;
}

.u-section-3 .u-text-1 {
  font-family: Almarai;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -3px 60px 0 17px;
}

.u-section-3 .u-line-1 {
  width: 57px;
  transform-origin: left center 0px;
  margin: 0 auto 0 17px;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin: 2px -8px 0 auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  min-height: 480px;
  grid-gap: 20px 20px;
  grid-auto-columns: calc(25% - 15px);
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0 1px;
}

.u-section-3 .u-text-2 {
  letter-spacing: 0px;
  font-size: 1rem;
  margin: 0 9px 0 0;
}

.u-section-3 .u-image-1 {
  width: 236px;
  height: 236px;
  margin: 0 22px 0 13px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  margin: 17px auto 0;
  padding: 0 36px 0 35px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-size: 0.875rem;
  margin: 9px auto 0;
  padding: 0 19px;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0 1px;
}

.u-section-3 .u-text-3 {
  letter-spacing: 0px;
  font-size: 1rem;
  margin: 0 9px 0 0;
}

.u-section-3 .u-image-2 {
  width: 236px;
  height: 236px;
  margin: 0 22px 0 13px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  font-size: 0.875rem;
  margin: 17px auto 0;
  padding: 0 36px 0 35px;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  font-size: 0.875rem;
  margin: 9px auto 0;
  padding: 0 19px;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 0 1px;
}

.u-section-3 .u-text-4 {
  letter-spacing: 0px;
  font-size: 1rem;
  margin: 0 9px 0 0;
}

.u-section-3 .u-image-3 {
  width: 236px;
  height: 236px;
  margin: 0 22px 0 13px;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  font-size: 0.875rem;
  margin: 17px auto 0;
  padding: 0 36px 0 35px;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  font-size: 0.875rem;
  margin: 9px auto 0;
  padding: 0 19px;
}

.u-section-3 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 0 1px;
}

.u-section-3 .u-text-5 {
  letter-spacing: 0px;
  font-size: 1rem;
  margin: 0 9px 0 0;
}

.u-section-3 .u-image-4 {
  width: 236px;
  height: 236px;
  margin: 0 22px 0 13px;
}

.u-section-3 .u-btn-7 {
  background-image: none;
  font-size: 0.875rem;
  margin: 17px auto 0;
  padding: 0 36px 0 35px;
}

.u-section-3 .u-btn-8 {
  background-image: none;
  font-size: 0.875rem;
  margin: 9px auto 0;
  padding: 0 19px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-3 .u-group-1 {
    margin-bottom: 0;
    min-height: 510px;
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 15px));
    min-height: 391px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 1px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 205px;
    height: 205px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 1px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 205px;
    height: 205px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 1px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    width: 205px;
    height: 205px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 1px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    width: 205px;
    height: 205px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1133px;
  }

  .u-section-3 .u-group-1 {
    min-height: 1097px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 9px;
    margin-left: 13px;
  }

  .u-section-3 .u-line-1 {
    margin-left: 13px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 980px;
    grid-auto-columns: calc(50% - 10px);
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 23px;
  }

  .u-section-3 .u-image-1 {
    width: 284px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 23px;
  }

  .u-section-3 .u-image-2 {
    width: 284px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 23px;
  }

  .u-section-3 .u-image-3 {
    width: 284px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 23px;
  }

  .u-section-3 .u-image-4 {
    width: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1810px;
  }

  .u-section-3 .u-group-1 {
    min-height: 1905px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: -8px;
    margin-left: 21px;
  }

  .u-section-3 .u-line-1 {
    transform-origin: right center 0px;
    width: 49px;
    margin-left: 21px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-image-1 {
    width: 300px;
    margin-top: 4px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 13px;
  }

  .u-section-3 .u-image-2 {
    width: 300px;
    margin-top: 4px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 13px;
  }

  .u-section-3 .u-image-3 {
    width: 300px;
    margin-top: 4px;
  }

  .u-section-3 .u-btn-5 {
    margin-top: 13px;
  }

  .u-section-3 .u-image-4 {
    width: 300px;
    margin-top: 4px;
  }

  .u-section-3 .u-btn-7 {
    margin-top: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1950px;
  }

  .u-section-3 .u-group-1 {
    min-height: 1914px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 9px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-left: 8px;
  }

  .u-section-3 .u-line-1 {
    margin-left: 8px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 11px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1681px;
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 1px;
  }

  .u-section-3 .u-image-1 {
    height: 300px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 1px;
  }

  .u-section-3 .u-image-2 {
    height: 300px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 1px;
  }

  .u-section-3 .u-image-3 {
    height: 300px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 1px;
  }

  .u-section-3 .u-image-4 {
    height: 300px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 642px;
}

.u-section-4 .u-group-1 {
  width: 864px;
  height: auto;
  min-height: 591px;
  background-image: none;
  margin: 26px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 13px 17px;
}

.u-section-4 .u-text-1 {
  font-family: Almarai;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -1px 509px 0 0;
}

.u-section-4 .u-line-1 {
  width: 57px;
  transform-origin: left center 0px;
  margin: 1px auto 0 53px;
}

.u-section-4 .u-list-1 {
  margin: 31px 3px 0;
}

.u-section-4 .u-repeater-1 {
  min-height: 414px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-text-2 {
  letter-spacing: 0px;
  margin: 0;
}

.u-section-4 .u-image-1 {
  height: 321px;
  width: 308px;
  margin: 0 auto;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  margin: 19px auto 0;
  padding: 6px 74px 7px 73px;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-text-3 {
  letter-spacing: 0px;
  margin: 0;
}

.u-section-4 .u-image-2 {
  height: 321px;
  width: 308px;
  margin: 0 auto;
}

.u-section-4 .u-btn-2 {
  font-size: 0.875rem;
  margin: 19px auto 0;
  padding: 6px 74px 7px 73px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 365px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 198px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 313px;
    width: 300px;
  }

  .u-section-4 .u-image-2 {
    height: 313px;
    width: 300px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1190px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 80px auto 0 0;
}

.u-section-5 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/Promo2.jpg");
  min-height: 482px;
  background-position: 50% 50%;
}

.u-section-5 .u-shape-1 {
  width: 1080px;
  height: 422px;
  position: relative;
  margin: 30px auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 628px;
  background-image: none;
}

.u-section-5 .u-image-2 {
  width: 455px;
  height: 714px;
  position: relative;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.45);
  object-position: 46.36% 50%;
  background-position: 2.87% 50%;
  margin: -143px 30px 56px auto;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 628px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-5 .u-text-1 {
  margin: 52px 20px 0 0;
}

.u-section-5 .u-line-1 {
  width: 57px;
  position: relative;
  height: 4px;
  transform-origin: left center 0px;
  margin: 31px auto 0 0;
}

.u-section-5 .u-text-2 {
  position: relative;
  margin: 45px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 995px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 511px;
  }

  .u-section-5 .u-shape-1 {
    width: 891px;
    height: 451px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 639px;
  }

  .u-section-5 .u-image-2 {
    width: 375px;
    height: 611px;
    margin-right: 25px;
    margin-bottom: 139px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 639px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-5 .u-line-1 {
    width: 47px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-5 .u-shape-1 {
    width: 660px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 775px;
  }

  .u-section-5 .u-image-2 {
    width: 293px;
    height: 456px;
    margin-top: -82px;
    margin-right: 13px;
    margin-bottom: 400px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 775px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 13px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-5 .u-line-1 {
    width: 36px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1046px;
  }

  .u-section-5 .u-shape-1 {
    width: 494px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 547px;
  }

  .u-section-5 .u-image-2 {
    width: 446px;
    height: 588px;
    margin-top: -77px;
    margin-right: auto;
    margin-bottom: 36px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 729px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 133px;
    margin-right: 9px;
  }

  .u-section-5 .u-line-1 {
    width: 34px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-5 .u-image-1 {
    min-height: 308px;
  }

  .u-section-5 .u-shape-1 {
    width: 308px;
    height: 260px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 368px;
  }

  .u-section-5 .u-image-2 {
    width: 264px;
    height: 390px;
    margin-top: -70px;
    margin-bottom: 47px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 840px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 6px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 52px;
    margin-right: 6px;
  }

  .u-section-5 .u-line-1 {
    width: 28px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 6px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1320px;
}

.u-section-6 .u-group-1 {
  min-height: 167px;
  height: auto;
  width: 936px;
  margin: 46px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-1 {
  position: relative;
  width: 717px;
  font-size: 1.5rem;
  font-family: Almarai;
  margin: 0 auto;
}

.u-section-6 .u-line-1 {
  width: 57px;
  position: relative;
  height: 4px;
  transform-origin: left center 0px;
  margin: 46px auto 0;
}

.u-section-6 .u-shape-1 {
  height: 1028px;
  width: 1048px;
  margin: 0 auto;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: -982px;
  margin-bottom: 60px;
}

.u-section-6 .u-image-1 {
  background-image: url("images/AlexNogueira-prologoPromo01.jpg");
  min-height: 964px;
  background-position: 44.74% 50%;
}

.u-section-6 .u-image-2 {
  background-image: url("images/AlexNogueira-prologoPromo02.jpg");
  min-height: 643px;
  background-position: 67.84% 50%;
}

.u-section-6 .u-image-3 {
  background-image: url("images/AlexNogueira-epilogoPromo01.jpg");
  min-height: 321px;
  background-position: 53.31% 50%;
}

.u-section-6 .u-image-4 {
  background-image: url("images/AlexNogueira-epilogoPromo02.jpg");
  min-height: 321px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1410px;
  }

  .u-section-6 .u-group-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    width: 591px;
  }

  .u-section-6 .u-line-1 {
    width: 47px;
  }

  .u-section-6 .u-shape-1 {
    width: 864px;
    position: relative;
    margin-left: 38px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: 67px;
    margin-right: 67px;
  }

  .u-section-6 .u-line-1 {
    width: 36px;
    margin-top: 44px;
  }

  .u-section-6 .u-shape-1 {
    width: 662px;
    margin-left: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2795px;
  }

  .u-section-6 .u-group-1 {
    min-height: 252px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    width: 425px;
    font-size: 2.25rem;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-6 .u-line-1 {
    width: 34px;
    margin-top: 45px;
    margin-left: 253px;
  }

  .u-section-6 .u-shape-1 {
    height: 2299px;
    width: 470px;
    margin-left: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -2258px;
    margin-bottom: 214px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2695px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-line-1 {
    width: 28px;
    margin-left: auto;
  }

  .u-section-6 .u-shape-1 {
    height: 2309px;
    width: 300px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -2268px;
    margin-bottom: 60px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/Tourdates.jpg");
  background-position: 50% 6.2%;
}

.u-section-7 .u-sheet-1 {
  min-height: 715px;
}

.u-section-7 .u-text-1 {
  font-size: 1.5rem;
  font-family: Almarai;
  width: 717px;
  margin: 27px auto 0;
}

.u-section-7 .u-line-1 {
  width: 57px;
  height: 4px;
  transform-origin: left center 0px;
  margin: 19px auto 0 542px;
}

.u-section-7 .u-text-2 {
  font-family: Almarai;
  width: 717px;
  margin: 266px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 201px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 452px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-line-1 {
    margin-left: 483px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-line-1 {
    margin-top: 15px;
    margin-left: auto;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 131px;
    margin-left: 0;
    margin-right: 0;
  }
}transform: rotate(90deg);